@model CoachDetailsModelView
@{
    ViewBag.Title = "Страница тренера";
    int wage = 0;
    foreach (var pay in Model.Payments)
    {
        foreach (var item in pay.Payments)
        {
            wage += item.CardSum + item.CashSum;
        }
    }
}
<div class="card">
    <div class="card-header">
        <h5 class="text-center pb-2 border-bottom card-title mb-2">@Model.Coach.NameSurname</h5>
        <form asp-action="Details" asp-route-coachId="@Model.Coach.Id">
            <h5 class="card-title text-center mb-2">Выбор даты</h5>
            <div style="margin:auto; width: 500px;">
                <div class="form-row ">
                    <div class="form-group">
                        <div class="form-group">
                            <label>
                                Группа
                                <select asp-for="GroupId" class="form-control">
                                    @foreach (Group group in Model.Groups)
                                    {
                                        <option value="@group.Id">@group.Name, центр @group.Branch.Name</option>
                                    }
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary" style="margin-top: -150px;
                                                                         margin-left: 30px;">Подтвердить</button>
            </div>
        </form>
    </div>
    <div class="card-body">
        @if (Model.Payments.Length == 0)
        {
            <h5 class="card-title text-center">Не найдено клиентов у тренера этой группы</h5>
        }
        else
        {
            <h5 class="card-title text-center">Группа @Model.Payments[0].Client.Group.Name</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Имя клиента</th>
                        <th scope="col">Оплаченная сумма</th>
                        <th scope="col">Стоимость абонемента</th>
                        <th scope="col">Даты оплат</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Payments)
                    {
                        <tr>
                            <th scope="row">@item.Client.NameSurname</th>
                            <td>
                                @item.Amount
                                @if (item.Payments.Length == 0)
                                {
                                    <span>Абонемент не приобретен</span>
                                }
                                else if (item.Client.Paid != Paid.Не_оплачено)
                                {
                                    @if (item.Client.Paid == Paid.Есть_долг)
                                    {
                                        <br /><span>Долг в размере @(-item.Client.Balance)</span>
                                    }
                                    else
                                    {
                                        <br /><span>Оплачено с предоплатой</span>
                                    }
                                }
                                else
                                {
                                    <br /><span>Не оплачено</span>
                                }
                            </td>
                            <td>
                                @if (item.Payments.Length == 0)
                                {
                                    <span>не приобретен</span>
                                }
                                else
                                {
                                    <span>@item.Payments[0].ClientsMembership.Membership.Price</span>
                                }
                            </td>
                            <td>
                                @foreach (var pay in item.Payments)
                                {
                                    <span>@pay.CateringDate.ToShortDateString()</span><br />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <p class="text-right card-text text-black-50">Итого - @wage</p>
    </div>
</div>